.main {
    width: 80%;
    height: 2rem;
    background-color: #213C45;
    color: white;
    position: fixed;
    bottom: 0px;
    padding: 1.8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 12;

}

.button {
    font-size: 15px;
    font-weight: 400;
    padding: 0.7rem;
    border-radius: 4px;
}

.cancelBtn {
    padding-inline: 20px;
}

.saveBtn {
    border: 0;
    color: white;
    padding-inline: 15px;
    background-color: #00B39E;
}